body {
  background-color: #292929;
}

.title {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  color: white;
}

input,
label {
  margin: .4rem 0;
}

.p1bar {
  float: left;
  text-align: center;
}

.p2bar {
  float: right;
  text-align: center;
}

.p1 {
  float: left;
  text-align: center;
}

.p2 {
  float: right;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  font-weight: normal;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  color: white;
  font-weight: bold;
}