body {
  background-color: #292929;
}

.title {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  color: white;
}

input,
label {
  margin: .4rem 0;
}

.p1bar {
  display: block;
  right: 25%;
  float: left;
  text-align: center;
  margin-left: 30%;
}

.p2bar {
  display: block;
  left: 25%;
  float: right;
  text-align: center;
  margin-right: 30%;
}

.p1iframe {
  float: left;
}

.p2iframe {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  font-weight: normal;
  background-color: black;
  opacity: 50%;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  color: white;
  font-weight: bold;
}

.player1raw {
  float: left;
  left: 35%;
  top: 10%;
}
.player2raw {
  float: right;
  right: 35%;
  top: 10%;
}
h2 {
  color: white;
  text-align: center;
}

.diffs {
  color: white;
  text-align: center;
  left: 50%;
}